Source: ossec-hids
Section: unknown
Priority: extra
Maintainer: Jose Antonio Quevedo Muñoz <joseantonio.quevedo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ossec-hids.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ossec-hids.git;a=summary

Package: ossec-hids
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: ossec-hids-doc
Architecture: all
Description: documentation for ossec-hids
 <insert long description, indented with spaces>
