Source: ossec-hids
Section: utils
Priority: extra
Maintainer: Jose Antonio Quevedo Muñoz <joseantonio.quevedo@gmail.com>
Uploaders: Javier Fernandez-Sanguino <jfs@debian.org>
Build-Depends: debhelper (>= 7.0.50~), zlib1g-dev
Standards-Version: 3.8.4
Homepage: http://www.ossec.net/
#Vcs-Git: git://git.debian.org/collab-maint/ossec-hids.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ossec-hids.git;a=summary

Package: ossec-hids-doc
Architecture: all
Description: documentation for ossec-hids.
 OSSEC is a full platform to monitor and control your systems.
 It mixes together all the aspects of:
  - HIDS (host-based intrusion  detection),
  - log monitoring,
  - SIM/SIEM together.

Package: ossec-hids-local
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, expect
Conflicts: ossec-hids-server, ossec-hids-agent
Description: Ossec's local installation binaries. Host-based Intrusion Detection System.
 OSSEC is a full platform to monitor and control your systems.
 It mixes together all the aspects of:
  - HIDS (host-based intrusion  detection),
  - log monitoring,
  - SIM/SIEM together.

Package: ossec-hids-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, expect
Conflicts: ossec-hids-local, ossec-hids-agent
Description: Ossec's server installation binaries. Host-based Intrusion Detection System.
 OSSEC is a full platform to monitor and control your systems.
 It mixes together all the aspects of:
  - HIDS (host-based intrusion  detection),
  - log monitoring,
  - SIM/SIEM together.

Package: ossec-hids-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, expect
Conflicts: ossec-hids-local, ossec-hids-server
Description: Ossec's client installation binaries. Host-based Intrusion Detection System.
 OSSEC is a full platform to monitor and control your systems.
 It mixes together all the aspects of:
  - HIDS (host-based intrusion  detection),
  - log monitoring,
  - SIM/SIEM together.
