#!/bin/sh -e

. /usr/share/debconf/confmodule

db_beginblock
db_input low ossec-hids-server/enable_email || true
db_endblock
db_go

db_get ossec-hids-server/enable_email
if [ "x$RET" = "xtrue" ]; then
  # Ask for a valid email and email server
    db_beginblock
    db_input medium ossec-hids-server/email_to || true
    db_input medium ossec-hids-server/email_server || true
    db_endblock
    db_go 
fi

db_beginblock
db_input low ossec-hids-server/enable_syslog || true
db_endblock
db_go


db_stop
