#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PKG_BASENAME=ossec-hids
CURDIR=$(shell pwd)


configure-stamp:
	dh_testdir


	touch configure-stamp

configure-%: configure-stamp

	USER_LANGUAGE = en	# Here we have to choose if autodetect or ask to the user. First choice preferred.
	USER_NO_STOP = no
#	USER_UPDATE = 

	BUILD = yes	# variable used to stop the installation script



configure-local:

	USER_INSTALL_TYPE = local

configure-server:

	USER_INSTALL_TYPE = server

configure-agent:

	USER_INSTALL_TYPE = agent


build-stamp:

	dh_testdir
	touch build-stamp

build: build-stamp build-local build-server build-agent


build-local: configure-local

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install

build-server: configure-server

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install

build-agent: configure-agent

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install

install: build install-doc install-server install-agent install-local


install-%:

	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	USER_LANGUAGE = en
	USER_NO_STOP = no
#	USER_UPDATE = 
	BUILD = no

	DESTDIR = $CURDIR/debian



install-doc:

	PKG=$PKG_BASENAME-doc
	DESTDIR = $DESTDIR/$PKG

	# This target needs to be done

install-local:

	PKG=$PKG_BASENAME-local
	INSTALLDIR = $DESTDIR/$PKG

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install


install-server:

	PKG=$PKG_BASENAME-server
	INSTALLDIR = $DESTDIR/$PKG

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install

install-client:

	PKG=$PKG_BASENAME-client
	INSTALLDIR = $DESTDIR/$PKG

	USER_INSTALL_TYPE="$USER_INSTALL_TYPE" BUILD="$BUILD" USER_LANGUAGE="$USER_LANGUAGE" USER_NO_STOP="no" ./install

binary:

binary-arch:

binary-indep:

get-orig-source:


clean-doc:		## are we really needing clean-* targets? ---> we already have dh_clean at clean target

	$(MAKE) clean-doc

clean-local:

	$(MAKE) clean-local

clean-server:

	$(MAKE) clean-server

clean-client:

	$(MAKE) clean-client

clean: #clean-local clean-server clean-client clean-doc

	dh_testdir
	dh_testroot

#	rm -f build-stamp configure-stamp	#  <-- already done by dh_clean, so don't needed


	dh_clean

#%:
#	dh $@ 
