#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PKG_BASENAME="ossec-hids"
CURDIR="`pwd`"

# If we do not say anything we assume a server build
configure: configure-server

# Configure for the server build
configure-server: configure-server-stamp
configure-server-stamp:
	dh_testdir
# TBD - Configure CFLAGS in src/Config.OS?
	echo "CEXTRA=-DDEFAULTDIR=\\\"/var/ossec\\\"" > src/Config.OS
	touch $@

# Configure for the agent build
configure-agent: configure-agent-stamp
configure-agent-stamp:
	dh_testdir
	echo "CEXTRA=-DDEFAULTDIR=\\\"/var/ossec\\\" -DCLIENT" > src/Config.OS
	touch $@

# Configure for the local build
configure-local: configure-local-stamp
configure-local-stamp:
	dh_testdir
	echo "CEXTRA=-DDEFAULTDIR=\"/var/ossec\" -DLOCAL" > src/Config.OS
	touch $@

# Builds all binaries
build: build-server build-agent

# Build the server
build-server: configure-server build-server-stamp 
build-server-stamp: 
# For Prelude support:
#	cd src && make setprelude
	cd src && make all
	cd src && make build
	mv bin server-bin
	touch $@

# Build the agent
# Note: we need to clean the build first
build-agent: clean-sources configure-agent build-agent-stamp 
build-agent-stamp: 
# We have to clean and rebuild againt to set -DCLIENT
	cd src && make all
	cd src && make build
	mv bin agent-bin
	touch $@

# Build the stand-alone version (local)
# Note: we need to clean the build first
build-local: clean-sources configure-local build-local-stamp 
build-local-stamp: 
# We have to clean and rebuild againt to set -DCLIENT
	cd src && make all
	cd src && make build
	mv bin local-bin
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:
# Nothing to do here, yet
	touch $@

install-arch: build
	dh_testdir
	dh_testroot
	dh_prep -a
	dh_installdirs -a
# Server files and directories
	install -m 755 server-bin/ossec debian/ossec-hids-server/usr/bin/
	install -m 755 sever-bin/ossec* debian/ossec-hids-server/usr/lib/ossec
	-rm -f debian/ossec-hids-server/usr/bin/ossec
	-rm -f debian/ossec-hids-server/usr/bin/ossec-agentd
	for file in manage_agents syscheck_update verify-agent-conf  \
		clear_stats list_agents agent_control syscheck_control \
		rootcheck_control ; do \
		install -m 755 server-bin/$$file debian/ossec-hids-server/usr/lib/ossec/ ; \
	done
	cd debian/ossec-hids-server/var/ossec && ln -s bin ../../usr/lib/ossec/
	cd debian/ossec-hids-server/var/ossec && ln -s etc ../../etc/ossec/
	cd debian/ossec-hids-server/var/ossec && ln -s logs ../logs/ossec/
	cd debian/ossec-hids-server/var/ossec && ln -s rules ../../etc/rules/
	chmod -R 550 debian/ossec-hids-server/var/ossec
	chmod 770 debian/ossec-hids-server/var/ossec/queue/alerts
	chmod 770 debian/ossec-hids-server/var/ossec/queue/ossec
	chmod 750 debian/ossec-hids-server/var/ossec/queue/fts
	chmod 750 debian/ossec-hids-server/var/ossec/queue/syscheck
	chmod 750 debian/ossec-hids-server/var/ossec/queue/rootcheck
	chmod 750 debian/ossec-hids-server/var/ossec/queue/diff
	chmod 755 debian/ossec-hids-server/var/ossec/queue/agent-info
	chmod 755 debian/ossec-hids-server/var/ossec/queue/rids
	chmod 755 debian/ossec-hids-server/var/ossec/queue/agentless
	chmod 750 debian/ossec-hids-server/var/ossec/stats
	chmod 750 debian/ossec-hids-server/var/logs/ossec
	chmod -R 550 debian/ossec-hids-server/etc/
# Agent files and directories
	install -m 755 agent-bin/ossec-agentd debian/ossec-hids-agent/usr/bin/
	for file in agent-auth ossec-logcollector ossec-syscheckd ossec-execd \
		manage_agents ; do \
		install -m 755 agent-bin/$$file debian/ossec-hids-agent/usr/lib/ossec/ ; \
	done
	dh_install -a
	cd debian/ossec-hids-agent/var/ossec && ln -s bin ../../usr/lib/ossec/
	cd debian/ossec-hids-agent/var/ossec && ln -s etc ../../etc/ossec/
	cd debian/ossec-hids-agent/var/ossec && ln -s logs ../logs/ossec/
	chmod 750 debian/ossec-hids-agent/var/logs/ossec

install-indep: build-indep
	dh_testdir
	dh_testroot
	dh_prep -i
	dh_installdirs -i
	dh_install -i

install: install-arch install-indep

binary: binary-arch binary-indep

binary-arch: build install-arch
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a 
	dh_installexamples -a
	dh_installdebconf -a
	dh_installman -a 
	dh_installchangelogs -a 
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_installinit -a --name=ossec-hids
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_perl -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep: build-indep install-indep
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installdebconf -i
	dh_installman -i 
	dh_installchangelogs -i
	dh_link -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_makeshlibs -i
	dh_installdeb -i
	dh_perl -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i


get-orig-source:

clean-sources:
	dh_testdir
	dh_testroot
	cd src && make clean
# Clean up additional auto-generated files
	for file in etc/ossec.mc src/Config.OS \
		src/analysisd/compiled_rules/compiled_rules.h \
		src/analysisd/ossec-logtest src/analysisd/ossec-makelists \
		src/isbigendian src/isbigendian.c ; do \
		[ -e $$file ] && rm -f $$file; \
		done

clean: clean-sources
	dh_testdir
	dh_testroot
	-rm -rf bin/ server-bin/ agent-bin/ local-bin/
	dh_clean


#%:
#	dh $@ 
