#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


clean:

build:

	USER_LANGUAGE = en
	USER_NO_STOP = no
#	USER_UPDATE = 
	USER_INSTALL_TYPE = server #( agent || local || server )

	BUILD = yes	# variable used to stop the installation script

	./install

install: install-doc install-server install-client install-local


	./install

install-%:

	USER_LANGUAGE = en
	USER_NO_STOP = no
#	USER_UPDATE = 
	BUILD = no


install-doc:

install-server:
	USER_INSTALL_TYPE = server

install-client:
	USER_INSTALL_TYPE = agent

install-local:
	USER_INSTALL_TYPE = local

binary:

binary-arch:

binary-indep:

get-orig-source:

#%:
#	dh $@ 
